@model Bragi.DataLayer.ViewModels.ETickets.EmissionViewModel
@inject IHtmlLocalizer<Bragi.DataLayer.SharedResource> localizer;

<link href="~/css/TicketEmision/style.css" rel="stylesheet" />


<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-PRE6LMZ2YR"></script>
<script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());
    gtag('config', 'G-PRE6LMZ2YR');
</script>

<script>
    (function (w, d, s, l, i) {
        w[l] = w[l] || []; w[l].push({
            'gtm.start':
                new Date().getTime(), event: 'gtm.js'
        }); var f = d.getElementsByTagName(s)[0],
            j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src =
                'https://www.googletagmanager.com/gtm.js?id=' + i + dl; f.parentNode.insertBefore(j, f);
    })(window, document, 'script', 'dataLayer', ' G-PRE6LMZ2YR');</script>
<!-- End Google Tag Manager -->

@Html.AntiForgeryToken()
@{
    var inOut = Model?.Eticket?.InOut == "Departure" ? "SALIDA" : "ENTRADA";
    if (Model.IsPrint)

    //Model.IsPrint
    {
        Layout = null;
        <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
        <link href="~/lib/limonte-sweetalert2/sweetalert2.css" rel="stylesheet" />
        <link href="~/lib/print-js/print.css" rel="stylesheet" />
        <script src="~/lib/jquery/dist/jquery.min.js" asp-append-version="true"></script>
        <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
        <script src="~/lib/limonte-sweetalert2/sweetalert2.js"></script>

        <script src="~/lib/qrious/dist/qrious.min.js"></script>
        <script src="~/lib/dom-to-image/dom-to-image.js"></script>
        <script src="~/lib/jspdf/jspdf.min.js"></script>
        <script src="~/lib/print-js/print.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
        <div class="container-fluid mb-5 mt-5">
            <div class="row justify-content-center">
                <div class="col-12 col-md-10 ">
                    <div class="card" style="border-radius:20px; " id="printMe">
                        <div class="row pl-4 pr-4 pt-4">
                            <div class="col-12">
                                <div class="row">
                                    <div class="col-12 col-lg-4 col-xl-1 d-flex justify-content-center pl-lg-5">
                                        <img src="~/img/escudo.png" width="130" alt="Alternate Text" />
                                    </div>
                                    <div class="col-12 col-lg-8 col-xl-5" style="border-right: 3px dotted #808080">
                                        <h3 class="mt-xl-4 text-center font-weight-bold  mt-4" style="font-size: 36px">REPUBLICA DOMINICANA</h3>
                                    </div>
                                    <div class="col-12 col-xl-6 ">
                                        <p class="text-center ticket font-weight-bold" style="font-size: 21px;">@localizer["ticket"]</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 ">
                                <div class="row">
                                    <div class="col-xl-6" style="border-right: 3px dotted  #808080;">
                                        <ul class="list-group mt-5" style="font-size: 34px;">
                                            <li class="list-group-item pb-4 pt-4"><b> @localizer["Names"]: </b> @Model.Eticket.PrincipalName.ToUpper()</li>
                                            <li class="list-group-item pb-4 pt-4"><b> @localizer["Passport"]: </b>@Model.Eticket.Passport.ToUpper() </li>
                                            <li class="list-group-item pb-4 pt-4"><b> @localizer["Nat"]:    </b> @Model.Eticket.Nationality.ToUpper() </li>
                                            <li class="list-group-item pb-4 pt-4"><b> @localizer["emissionDate"]:</b> @Model.Eticket.CreationDate.ToString("dd/MM/yyyy")</li>
                                            <li class="list-group-item pb-4 pt-4"><b> @localizer["Migratory"]:  </b>@inOut</li>
                                        </ul>
                                    </div>
                                    <div class="col-xl-6">
                                        <p class="text-center ticket d-xl-none d-block" style="font-size: 24px">@localizer["ticket"]</p>
                                        <div class="d-flex justify-content-center">
                                            <img src="@String.Format("data:image/png;base64,{0}", Convert.ToBase64String(Model.QrCode))" class="w-75 img-fluid" />
                                        </div>
                                        <div class="text-center">
                                            <p style="font-size: 24px" class="ticket font-weight-bold">@localizer["QRexclusivo"]</p>
                                        </div>
                                    </div>
                                    @{
                                        if (Model.Eticket.Application.MigratoryInformations.Any())
                                        {
                                            <div class="col-xl-12 mt-2">
                                                <div class="mt-1 mb-1">
                                                    <div class="pt-1 pb-1">
                                                        <h3 class="font-weight-bold" style="font-size: 34px">@localizer["companions"]</h3>
                                                        <hr class="p-0 mt-1 mb-1" />
                                                    </div>
                                                    <div class="table-responsive">
                                                        <table class="table" style="font-size:28px">
                                                            <thead class="text-white" style="background: #0B1F79">
                                                                <tr>
                                                                    <th>@localizer["Passport"]</th>
                                                                    <th>@localizer["Nat"]</th>
                                                                    <th>@localizer["Names"]</th>
                                                                </tr>
                                                            </thead>
                                                            <tbody>
                                                                @{
                                                                    foreach (var migratory in Model.Eticket.Application.MigratoryInformations)
                                                                    {
                                                                        <tr>
                                                                            <td>@migratory.PassportNumber.ToUpper()</td>
                                                                            <td>@migratory.Nationality.ToUpper()</td>
                                                                            <td>@migratory.FullName</td>
                                                                        </tr>
                                                                    }
                                                                }

                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div>
                                            </div>

                                        }

                                    }

                                </div>
                            </div>

                        </div>
                    </div>


                </div>

            </div>
        </div>
    }
    else
    {


        //"Is Not Print"
        <div class="container-fluid mb-5 mt-5">
            <div class="row justify-content-center">
                <div class="col-12 col-md-10 ">
                    <div class="card" style="border-radius:20px; " id="printMe">

                        <div class="row pl-4 pr-4 pt-4">
                            <div class="col-12">
                                <div class="row">
                                    <div class="col-12 col-lg-4 col-xl-1 d-flex justify-content-center pl-lg-5">
                                        <img src="~/img/escudo.png" alt="Alternate Text" class="escudo" />
                                    </div>
                                    <div class="col-12 col-lg-8 col-xl-5">
                                        <h3 class="mt-xl-4 text-center font-weight-bold country mt-4">REPUBLICA DOMINICANA</h3>
                                    </div>
                                    <div class="col-12 col-xl-6 ">
                                        <p class="text-center ticket d-xl-block d-none">@localizer["ticket"]</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="row">
                                    <div class="col-xl-6">
                                        <ul class="list-group mt-5 date-personal" style="font-size: 14px">
                                            <li class="list-group-item">@localizer["Names"]: <b>@Model.Eticket.PrincipalName.ToUpper()</b></li>
                                            <li class="list-group-item">@localizer["Passport"]: <b> @Model.Eticket.Passport.ToUpper()</b> </li>
                                            <li class="list-group-item">@localizer["Nat"]: <b> @Model.Eticket.Nationality.ToUpper()</b> </li>
                                            <li class="list-group-item">@localizer["emissionDate"]: <b> @Model.Eticket.CreationDate.ToString("dd/MM/yyyy")</b></li>
                                            <li class="list-group-item">@localizer["Migratory"]: <b>@inOut</b></li>
                                        </ul>
                                        @{
                                            if (Model.Eticket.Application.MigratoryInformations.Any())
                                            {
                                                <div class="mt-1 mb-1">
                                                    <div class="pt-1 pb-1">
                                                        <h7 class="font-weight-bold">@localizer["companions"]</h7>
                                                        <hr class="p-0 mt-1 mb-1" />
                                                    </div>
                                                    <div class="table-responsive">
                                                        <table class="table" style="font-size: 14px">
                                                            <thead class="text-white" style="background: #0B1F79">
                                                                <tr>
                                                                    <th style="padding: 1px 10px">@localizer["Passport"]</th>
                                                                    <th style="padding: 1px 10px">@localizer["Nat"]</th>
                                                                    <th style="padding: 1px 10px">@localizer["Names"]</th>
                                                                </tr>
                                                            </thead>
                                                            <tbody>
                                                                @{
                                                                    foreach (var migratory in Model.Eticket.Application.MigratoryInformations)
                                                                    {
                                                                        <tr>
                                                                            <td style="padding: 2px 10px">@migratory.PassportNumber.ToUpper()</td>
                                                                            <td style="padding: 2px 10px">@migratory.Nationality.ToUpper()</td>
                                                                            <td style="padding: 2px 10px">@migratory.FullName</td>
                                                                        </tr>
                                                                    }
                                                                }

                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div>
                                            }
                                        }

                                    </div>
                                    <div class="col-xl-6" style="margin-top: 16px">
                                        <p class="text-center ticket d-xl-none d-block">@localizer["ticket"]</p>
                                        <div class="d-flex justify-content-center">
                                            <img src="@String.Format("data:image/png;base64,{0}", Convert.ToBase64String(Model.QrCode))" class="w-75 img-fluid code " />
                                        </div>
                                        <div class="text-center">
                                            <p style="font-size: 16px" class="ticket">@localizer["QRexclusivo"]</p>
                                        </div>
                                    </div>


                                </div>
                            </div>

                        </div>
                    </div>

                    @{
                        if (!Model.IsPrint)
                        {
                            <div class="col-12 d-flex justify-content-md-end justify-content-center mb-4 mt-4">
                                <a class="btn btn-secondary ml-1 shadow-lg font-weight-light" asp-action="Index" asp-controller="Home">@localizer["LogOut"]</a>
                                <a class="btn ml-1  shadow-lg text-white font-weight-light" asp-action="GeneratePdf" asp-controller="TravelTicket" asp-route-token="@Model.Token" style="background:#10439C;">@localizer["G.PDF"]</a>
                            </div>
                        }
                    }

                </div>
            </div>
        </div>
    }
}

<script src="~/js/TicketEmision/index.js" asp-append-version="true"></script>